body{
    background-color: #E1E3E4;
    font-family: helvetica;
}
.name{
    color: #313131;
    text-align: center;
    margin-top: 40px;
    border-bottom: double 4px #66CC99;
}

h1{
  font-size: 60px;
  text-shadow: 3px 3px #66CC99
}

.picture img {
    width: 26%;
    margin-left: 37%;
    margin-top: 4%;
    border: solid 5px #3F86C4;
    padding: 5px;

}

.container {
  margin-top: 5%;
  align-items: center;
  text-align: center;
}

.check {
  color: #66CC99;
  text-shadow: 1px 1px #313131;
  text-align: center;
  margin-top: 5%;
  border-bottom: double 4px #66CC99;
  border-top: double 4px #66CC99;
}

h4{
  font-size: 50px;
}

.int {
  color: red;
}

.hob {
  color: blue;
}

.his {
  color: green;
}

.me {
  color: purple;
}

#job {
  list-style: none;
  margin-right: 9%;
}

.why {
  font-size: 35px;
  text-shadow: 3px 3px pink;
}

.ld {
  text-decoration: underline;
}

.bottom {
  font-size: 18px;
}

.code img {
  float: left;
  width:12%;
}
